<header class="animated fadeIn fast">
    <h1>Ejemplo 01-hola mundo</h1>
</header>
<div class="row" class="animated fadeIn">
    
    <div class="col">
        <h2>*ngIf</h2>
        <hr>

        <div *ngIf="mostrar" class="card text-white bg-primary mb-3" style="max-width: 100%;">
            <div class="card-body">
                <h5 class="card-title">{{ frase.autor }}</h5>
                <p class="card-text">{{ frase.mensaje }}</p>
            </div>
        </div>

        <button (click)="mostrar = !mostrar" class="bt btn-outline-primary btn-block">
            Mostrar/Ocultar
        </button>
    </div>
    <div class="col">
        <h2>*ngFor</h2>        
        <hr> 
        <ul class="list-group">
            <li *ngFor="let personaje of personajes; let i = index" class="list-group-item">{{ i + 1 }}. {{ personaje }}</li>
        </ul>
    </div>    
</div>