<h1 class="animated fadeIn fast">Sobre Comic APP</h1>
<hr>
<div class="animated fadeIn">
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus maximus, velit ac rhoncus aliquam, felis elit placerat mi, vitae condimentum turpis tellus vitae massa. Suspendisse potenti. Fusce vitae lectus interdum, sagittis nulla quis, cursus tortor. Nam et placerat est. In interdum faucibus cursus. Donec cursus ex id ante sollicitudin, id congue quam semper. In laoreet velit ligula, vel tincidunt ex efficitur vitae.
</p>
<p>
    Morbi ac felis et enim aliquam laoreet nec non ligula. Phasellus vitae mi ac mauris tincidunt rhoncus eu quis tellus. Nullam sit amet odio pretium, eleifend orci fringilla, luctus dolor. Aliquam pretium elit mattis velit fermentum pretium. Praesent id odio facilisis, rutrum neque a, laoreet felis. Donec neque metus, interdum nec dolor quis, venenatis consectetur erat. Vivamus ultricies quam quis est fermentum, at ullamcorper massa vulputate. Mauris mattis felis scelerisque orci condimentum malesuada. Pellentesque dictum vel purus elementum congue. Donec ac urna massa. Sed iaculis, eros ac volutpat cursus, felis orci sodales purus, eu semper elit tellus eu neque. Vestibulum eleifend blandit magna, vel vestibulum ex vulputate ut.
</p>
<p>
Ut pretium sem nunc, eget dapibus nisi consequat vitae. Cras in orci eu enim euismod vulputate. Donec ultrices rhoncus tellus ut congue. Praesent in metus sit amet leo laoreet finibus. Vivamus porta efficitur augue, et tincidunt justo consectetur ac. Vivamus purus odio, luctus sit amet sodales volutpat, blandit sed metus. Donec in rutrum dolor, sit amet sodales nibh. Aenean at arcu scelerisque, porttitor mi a, venenatis arcu. Duis vehicula diam eget finibus dictum. Quisque ac risus erat. Curabitur rhoncus libero at tempus cursus.
</p>
<p>
Donec hendrerit, sem in rutrum mollis, quam neque tempus magna, non lobortis nunc nibh ac nisi. Nullam suscipit purus ante, nec sollicitudin elit egestas ut. Suspendisse potenti. Donec faucibus rhoncus lectus, nec vestibulum sem commodo sit amet. Suspendisse sagittis bibendum nunc. Mauris id leo quis odio aliquet posuere. Maecenas a mi nec magna rhoncus cursus.
</p>
<p>
Ut varius diam nisi. Ut quis eleifend turpis. Nullam sapien eros, commodo vel tortor ac, consequat suscipit orci. Mauris vehicula bibendum fermentum. Duis leo diam, eleifend ut elit at, laoreet finibus elit. Mauris sed ipsum in magna consectetur eleifend. Vivamus sit amet lorem in magna suscipit accumsan. Donec vitae velit scelerisque, aliquet erat ac, tincidunt nunc. Suspendisse finibus scelerisque arcu, non tincidunt elit volutpat vitae. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In vitae diam volutpat, pharetra turpis ac, efficitur nunc. Vestibulum mi nunc, pellentesque at ipsum a, ultricies tincidunt nisi. Donec quis fringilla massa.
</p>
</div>